<h2>内侧边框阴影</h2>
<h4>1 渲染原理</h4>
<div class="box-container">
  <div class="shadow-inset" [ngClass]="{'step-init':stepIndex >= 1,'step-spread':stepIndex >= 2, 'step-offset':stepIndex >= 3,'step-blur':stepIndex >= 4,'step-end':stepIndex >= 5}">
    <div class="shadow-inset-son">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="boxbutton1" class="oper-button">
    <nc-button (click)="startShow()">{{operTitle}}</nc-button>
  </div>
</div>

<h4>2 试一试</h4>
<div class="box-shadow-inset" #boxshadowinset style="box-shadow: 0px 0px 0px 20px #ffcc66 inset;">
  接收预订提醒、评论撰写提醒、价格提醒，以及与您使用爱彼迎有关的其他提
</div>
<div class="box-input">
  <div>输入后点生成： </div>
  <div class="shadow_demosss" *ngFor="let shadowInset of shadowInsetList;let i=index">
    <div>
      <span>阴影颜色</span>
      <span><input type="color" [(ngModel)]="shadowInset.color" /></span>
    </div>
    <div>
      <span>x-shadow</span>
      <span><nc-input [showHint]="false" [(modelValue)]="shadowInset.x_offset" [width]="'60px'" [height]="'36px'"></nc-input></span>
    </div>
    <div>
      <span>y-shadow</span>
      <span><nc-input [showHint]="false" [(modelValue)]="shadowInset.y_offset" [width]="'60px'" [height]="'36px'"></nc-input></span>
    </div>
    <div>
      <span>模糊距离</span>
      <span><nc-input [showHint]="false" [(modelValue)]="shadowInset.blur_ju" [width]="'60px'" [height]="'36px'"></nc-input></span>
    </div>
    <div>
      <span>spread-阴影尺寸</span>
      <span><nc-input [showHint]="false" [(modelValue)]="shadowInset.spread" [width]="'60px'" [height]="'36px'"></nc-input></span>
    </div>
    <div>
      <span class="fa fa-minus-circle" (click)="delShadowItem(i)"></span>
    </div>
  </div>
  <div>
    <div>
      <span class="fa fa-plus-circle" (click)="addShadowItem()"></span>
    </div>
    <div>
      <nc-button (click)="makeShadowInset()">生成</nc-button>
    </div>
  </div>
</div>
