.shadow-ball {
  margin: 50px;
  width: 10em;
  height: 10em;
  display: inline-block;
  border-radius: 50%;
  background-color: #6662;
  padding: 1em;
  box-shadow: -1.5em 1em 7em #333 inset, 0 0 0.2em #888,0.5em -0.1em 1em #444;
}


