<form style="max-width: 500px;" novalidate>
  <nc-form-group class="nc-form-item nc-xl-col-3 nc-lg-col-3 nc-md-col-12 nc-sm-col-12 nc-xs-col-12">
    <nc-form-label class="nc-xl-col-4 nc-lg-col-4 nc-md-col-4 nc-sm-col-4 nc-xs-col-4"
                   [required]="false">Message</nc-form-label>
    <nc-form-control class="nc-xl-col-8 nc-lg-col-8 nc-md-col-8 nc-sm-col-8 nc-xs-col-8">
      <nc-input [type]="'text'" [(modelValue)]="message" [required]="true">
      </nc-input>
    </nc-form-control>
  </nc-form-group>
  <nc-form-group class="nc-form-item nc-xl-col-3 nc-lg-col-3 nc-md-col-12 nc-sm-col-12 nc-xs-col-12">
    <nc-form-control class="nc-xl-offset-4 nc-lg-offset-4 nc-md-offset-4 nc-sm-offset-4 nc-xs-offset-4">
      <div class="form-button">
        <nc-button (click)="showAsElement()">自定义元素</nc-button>
      </div>
      <div class="form-button">
        <nc-button (click)="showAsComponent()">动态创建组件</nc-button>
      </div>
    </nc-form-control>
  </nc-form-group>
</form>
<div id="customEle"></div>
