.clock {
  height:200px;
  width:200px;
  border:solid 1px #999;
  border-radius:50%;
  position:relative;
  margin:100px;
  outline: #e6c200 ridge 8px;
  outline-offset:15px;
  background:#e5fff2;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 60px;
    background-color: #666;
    top: -83px;
    left: 50%;
    margin-left: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -90px;
    left: 50%;
    margin-left: -13px;
    border: solid 8px #003300;
    border-radius: 50%;
    z-index: 1;
  }
  .clock-ban {
    display: inline-block;
    width: inherit;
    height: inherit;
    position:absolute;
    .time-num {
      display: inline-block;
      width:100%;
      height: 18px;
      position:absolute;
      top: calc(50% - 9px);
      &:before {
        content:"";
        position:absolute;
        top:0;
        left:5px;
      }
      &:after {
        content:"";
        position:absolute;
        top:0;
        right:5px;
      }
    }
    .one {
      transform: rotate(-60deg);
      &:before {
        content:"7";
        transform: rotate(60deg);
      }
      &:after {
        content:"1";
        transform: rotate(60deg);
      }
    }
    .two {
      transform: rotate(-30deg);
      &:before{
        content:"8";
        transform: rotate(30deg);
      }
      &:after{
        content:"2";
        transform: rotate(30deg);
      }
    }
    .three {
      transform: rotate(0deg);
      &:before{
        content:"9";
      }
      &:after{
        content:"3";
      }
    }
    .four {
      transform: rotate(30deg);
      &:before{
        content:"10";
        transform: rotate(-30deg);
      }
      &:after{
        content:"4";
        transform: rotate(-30deg);
      }
    }
    .five {
      transform: rotate(60deg);
      &:before{
        content:"11";
        transform: rotate(-60deg);
      }
      &:after{
        content:"5";
        transform: rotate(-60deg);
      }
    }
    .six {
      transform: rotate(90deg);
      &:before{
        content:"12";
        transform: rotate(-90deg);
      }
      &:after{
        content:"6";
        transform: rotate(-90deg);
      }
    }
  }
  .middle-a {
    border:8px solid black;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    z-index:1;
    transform: translateX(-50%) translateY(-50%);
  }
  .pointer-ban {
    position:absolute;
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: transparent;
    &.hour-ban {
      transition: transform 100ms linear;
    }
    &.minute-ban {
      transition: transform 100ms linear;
    }
    .hour-ptr {
      display: inline-block;
      height:32px;
      width:10px;
      background-color: #0d0d0d;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      position:absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-100%);
      z-index: 1;
      &:after {
        content:"";
        display:inline-block;
        position:absolute;
        bottom:100%;
        left:-50%;
        border-width: 14px 10px;
        border-style: solid;
        border-color: transparent transparent #0d0d0d transparent;
      }
    }
    .minute-ptr {
      display: inline-block;
      height:42px;
      width:6px;
      background-color: #1a1aff;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      position:absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-100%);
      z-index: 2;
      &:after {
        content:"";
        display:inline-block;
        position:absolute;
        bottom:100%;
        left:-50%;
        border-width: 15px 6px;
        border-style: solid;
        border-color: transparent transparent #1a1aff transparent;
      }
    }
    .second-ptr {
      display: inline-block;
      height:70px;
      width:2px;
      background-color: #b300b2;
      border-bottom-right-radius: 1px;
      border-bottom-left-radius: 1px;
      position:absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-100%);
      z-index: 3;
      &:after {
        content:"";
        display:inline-block;
        position:absolute;
        bottom:100%;
        left:-1px;
        border-width: 8px 2px;
        border-style: solid;
        border-color: transparent transparent #b300b2 transparent;
      }
    }
  }
}


