div.form-group {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  label.form-left {
    display: block;
    width: 80px;
    height: inherit;
    float: left;
    &:after {
      content: ": ";
    }
    &.yes:after {
      content: ": ";
    }
    &.no:after {
      content: "";
    }
  }
  div.form-right {
    display: inline-block;
    width: 360px;
    float: left;
    input {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: inherit;
      &:after {
        content: "(optional)";
      }
      &[required]:after {
        content: "";
      }
    }
    select {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: inherit;
    }
  }
  span.reqiured {
    color: red;
    margin-left: 10px;
    height: inherit;
    line-height: inherit;
    font-size: 18px;
  }
  a {
    &.add {
      color:white;
      background-color: blue;
      font-weight: bold;
      margin-left: 10px;
      height: 16px;
      width: 16px;
      line-height: 16px;
      text-align: center;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      display: inline-block;
      cursor: pointer;
    }
    &.del {
      color:white;
      background-color: red;
      font-weight: bold;
      display: inline-block;
      margin-left: 10px;
      height: 16px;
      width: 16px;
      line-height: 16px;
      text-align: center;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}

.button-group {
  margin-left: 80px;
  margin-top: 10px;
  button {
    height: 30px;
    width: 60px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
    &.confirm {
      background-color: blue;
      border-color: blue;
      color: white;
    }
    &[disabled].confirm {
      background-color: darkgrey;
      border-color: darkgrey;
    }
  }
}

.error p {
  margin-left: 80px;
  color: red;;
}

.ng-invalid[required], .ng-invalid.required  {
  border: 1px solid orangered; /* red */
}

fieldset {
  width: 470px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px #c2d6d6;
  padding: 0;
  margin-left: 0;
}

.skills {
  padding-top: 15px;
  width: 470px;
  border: solid 1px #c2d6d6;
}
