<form [formGroup]="myForm" novalidate>
  <div class="form-group">
    <label for="name">姓名</label>
    <div class="form-right">
      <input type="text" id="name" formControlName="name"/>
    </div>
    <span class="reqiured"> * </span>
  </div>

  <div class="form-group">
    <label>性别</label>
    <div  class="form-right">
      <select name="Sex" formControlName="sex">
        <option *ngFor="let sex of sexs" [value]="sex.value">{{sex.name}}</option>
      </select>
    </div>
    <span class="reqiured"> * </span>
  </div>

  <div class="form-group">
    <label>出生年月</label>
    <div class="form-right">
      <input type="date" formControlName="shengri" required/>
    </div>
    <span class="reqiured"> * </span>
  </div>

  <div class="form-group">
    <label for="password">密码</label>
    <div class="form-right">
      <input type="password" id="password" formControlName="password"/>
    </div>
    <span class="reqiured"> * </span>
  </div>

  <fieldset formArrayName="address">
    <div *ngFor="let oneAddress of address.controls; let i=index" [formGroupName]="i">
      <h4>Address #{{i + 1}}</h4>
      <div class="form-group">
        <label>国家</label>
        <div class="form-right">
          <input type="text" formControlName="country" />
        </div>
      </div>
      <div class="form-group">
        <label>城市</label>
        <div class="form-right">
          <input type="text" formControlName="city" />
        </div>
        <a (click)="delAdress(i)" class="del"> - </a>
      </div>
    </div>
    <div class="form-group">
      <label class="no"></label>
      <div class="add">
        <a (click)="addAdress()"> + </a>
      </div>
    </div>
  </fieldset>

  <div  class="form-group"  *ngFor="let like2 of likes;let i=index">
    <label *ngIf="i ===0" class="yes">兴趣爱好</label>
    <label *ngIf="i !==0" class="no"></label>
    <div>
      <input type="checkbox" #lock formControlName="like" [value]="like2.value"
             (change)="selectLikes($event,lock.value)"/>{{like2.name}}
    </div>
  </div>

  <div formArrayName="skills">
    <div class="form-group" *ngFor="let skill of skills.controls;let i=index">
      <label *ngIf="i === 0" class="yes">技能</label>
      <label *ngIf="i !== 0" class="no"></label>
      <div class="form-right">
        <input type="text" [formControlName]="i" />
      </div>
      <a (click)="delSkill(i)" class="del"> - </a>
    </div>
  </div>
  <div class="form-group">
    <label class="no"></label>
    <div class="add">
      <a (click)="addSkill()"> + </a>
    </div>
  </div>

  <div *ngFor="let bao of baocuns;let i=index" class="form-group">
    <label *ngIf="i === 0" class="yes">是否保存</label>
    <label *ngIf="i !== 0" class="no"></label>
    <div>
      <input  type="radio" formControlName="baocun" [value]="bao.value"/>{{bao.name}}
    </div>
  </div>

  <div class="button-group">
    <button class="confirm" [disabled]="!myForm.valid">提交</button>
    <button class="concel" (click)="myForm.reset()">取消</button>
  </div>
</form>
<p>{{myForm.value | json}}</p>
<p>{{myForm.get('address').value | json}}</p>