<nc-dialog [header]="'Add'" [style]="'normal'" [(isShow)]="isShowAdd" (isShowChange)="cancel()">
  <div class="content">
    <div class="description">
      <span class="grade">!</span>
      <span class="text">A hero will be add.</span>
    </div>
    <form #HeroAdd="ngForm">
      <nc-form-group class="nc-form-item nc-xl-col-12 nc-lg-col-12 nc-md-col-12 nc-sm-col-12 nc-xs-col-12">
        <nc-form-label class="nc-xl-col-3 nc-lg-col-3 nc-md-col-3 nc-sm-col-3 nc-xs-col-3"
                       [required]="true">Name</nc-form-label>
        <nc-form-control class="nc-xl-col-9 nc-lg-col-9 nc-md-col-9 nc-sm-col-9 nc-xs-col-9">
          <nc-input [type]="'text'" [(modelValue)]="name" [required]="true">
          </nc-input>
        </nc-form-control>
      </nc-form-group>
    </form>
  </div>
  <div class="footer">
    <span class="form-btn-group">
      <nc-button [type]="'add'" (click)="add()" [disabled]="!HeroAdd.form.valid || !name">Add</nc-button>
    </span>
    <span class="form-btn-group">
      <nc-button [type]="'cancel'" (click)="cancel()">Cancel</nc-button>
    </span>
  </div>
</nc-dialog>