<div class="nc-layout" style="overflow-y: auto">
  <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
    <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="../favicon.ico" />
                <span>Angular-Cook</span>
            </span>
      <div class="nc-anticon-menu" (click)="showSideMenu()">
        <div class="nc-anticon"></div>
      </div>
    </div>
    <div class="nc-header-menu">
      <nc-menu [type]="menuNavs.type" [place]="menuNavs.place" [navItems]="menuNavs.navItems"
               [backColor]="'manual'" [color]="'#e6e6e6'"></nc-menu>
    </div>
  </div>
  <div class="nc-layout nc-flex nc-row">
    <div class="nc-sider" style="width:240px;" [class.nc-sidebars-hidden]="!isShowSideMenu">
      <nc-menu [type]="sidebarNavs.type" [place]="sidebarNavs.place" [navItems]="sidebarNavs.navItems"
               [color]="'#d9d9d9'"></nc-menu>
    </div>
    <div class="nc-content nc-flex" style="min-height:800px;padding: 30px;">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:100px;">
    Angular Cook @blueskyawen By Ng-Shadow-Cat
  </div>
</div>