@nc-screen-xs-min: 575px;
@nc-screen-sm-min: 576px;
@nc-screen-md-min: 768px;
@nc-screen-lg-min: 992px;
@nc-screen-xl-min: 1200px;

.menu-header {
  height: 60px;
  background: #e6e6e6;
}
.nc-sidebars-hidden {
  margin-left: -240px;
  overflow-x: hidden;
  visibility: hidden;
}
.work-content {
  width:100%;
  > .nc-sider {
    @media (max-width: @nc-screen-md-min) {
      width: 80%;
    }
    @media (min-width: @nc-screen-md-min) {
      width: 210px;
    }
  }
  > .nc-content {
    @media (max-width: @nc-screen-md-min) {
      width: 100%;
    }
    @media (min-width: @nc-screen-md-min) {
      width: calc(100% - 210px);
    }
  }
}
@media (max-width: @nc-screen-md-min) {
  .menu-header {
    height: auto;
  }
  .menu-header2 {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.nc-sider {
  background: #fff;
  border:solid 1px #d9d9d9;
}

.nc-header-menu {
  position:relative;
  .github-item {
    position:absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
    .oper-item {
      margin-left: 20px;
      position: relative;
      .fa-github {
        font-size: 22px;
        color:#404040;
        &:hover {
          color:#66c2ff;
          cursor: pointer;
        }
      }
      .fa-user-circle-o {
        font-size: 22px;
        color:#404040;
        cursor: pointer;
      }
      .userName {
        margin-right: 10px;
        color:#333399;
        font-size: 18px;
      }
      .selectLang {
        cursor: pointer;
      }
      .langContent {
        position: absolute;
        left: 0;
        top: 24px;
        border: solid 1px #e6e6e6;
        z-index: 10;
        border-radius: 2px;
        background-color: #fff;
        > span {
          display: inline-block;
          width: 60px;
          text-align: center;
          color:#666;
          padding: 5px 20px;
          &:hover {
            background-color: #f2f2f2;
            cursor: pointer;
          }
          &.selected {
            color: #0066ff;
          }
          &:first-child {
            border-radius: 2px 2px 0 0;
          }
          &:last-child {
            border-radius: 0 0 2px 2px;
          }
        }
      }
    }
  }
}

ul.dropdown-items {
  list-style:none;
  padding:0;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  z-index: 100;
  background: #fff;
  li {
    display: inline-flex;
    width:80px;
    padding:8px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:#666;
    font-size: 14px;
    &.disable {
      color:#ccc;
      cursor:not-allowed;
    }
    &:not(.disable):hover {
      color:#333;
      background-color: #cce5ff;
    }
  }
}

.input-margin {
  margin: 10px 0 10px 100px;
}

.description{
  width:90%;
  display:flex;
  margin:auto;
  border:solid 1px #66ccff;
  border-radius:4px;
  background:#e5f7ff;
  padding:8px;
  .grade{
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    border-radius:50%;
    border:solid 1px #0040ff;
    color:#0040ff;
    margin-top:5px;
    margin-left:5px
  }
  .text{
    width:90%;
    font-size:12px;
    text-align:left;
    margin-left:10px;;
  }
}

.page-loading {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
}

.manage {
  cursor: pointer;
}
