<h3>Get configuration from JSON file</h3>
<div>
  <div class="form-button">
    <nc-button (click)="clear(); showConfig()">GetConfig</nc-button>
  </div>
  <div class="form-button">
    <nc-button (click)="clear(); showConfig_2()">GetConfigWithType</nc-button>
  </div>
  <div class="form-button">
    <nc-button (click)="clear(); showConfig_3()">getConfigWithResponse</nc-button>
  </div>
  <div class="form-button">
    <nc-button (click)="clear(); showError()">getConfigWithResponse</nc-button>
  </div>
  <div class="form-button">
    <nc-button (click)="clear()">Clear</nc-button>
  </div>
  <span *ngIf="config">
    <h4>Hero</h4>
    <p>Name: {{config.name}}</p>
    <p>City: {{config.city}}</p>
    <p>Skill: {{config.skill}}</p>
    <div *ngIf="headers">
      Response headers:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
    <app-message></app-message>
  </span>
</div>
<div *ngIf="error" class="error">
  <p>{{error | json}}</p>
  <app-message></app-message>
</div>

