.background_demo {
  width: 100%;
  margin: 20px;
  .back_box {
    height: 240px;
    width: 240px;
    border: solid 20px #ccc;
    overflow-y: auto;
    padding: 30px;
    font-size: 18px;
    line-height: 36px;
    transition: all .5s;
  }
  .text_shadow_oper {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    > div > div {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      div {
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        span {
          font-size: 14px;
          &:first-child {
            margin-right: 5px;
          }
          &.fa {
            font-size: 19px;
            color: #ff6666;
            cursor: pointer;
          }
          &.label1 {
            margin: 0 5px;
          }
        }
      }
    }
  }
}
.gradient_demo {
  width: 100%;
  margin: 20px;
  .liner_box {
    height: 240px;
    width: 500px;
    border: solid 5px #ccc;
    padding: 20px;
    font-size: 18px;
    line-height: 36px;
    transition: all .5s;
  }
  .text_shadow_oper {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    > div > div {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      div {
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        span {
          font-size: 14px;
          &:first-child {
            margin-right: 5px;
          }
        }
      }
      &.oper-color {
        align-items: center;
        > .color-title {
          margin-right: 10px;
        }
        > .color-items {
          .color-item {
            padding: 0 15px;
            display: inline-flex;
            align-items: center;
            border-right: solid 1px #e6e6e6;
            > span {
              margin-right: 5px;
              .label {
                margin-right: 3px;
              }
            }
          }
          .fa {
            font-size: 19px;
            color: #ff6666;
            cursor: pointer;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .radius_box {
    height: 240px;
    width: 280px;
    border: solid 5px #ccc;
    padding: 20px;
    font-size: 18px;
    line-height: 32px;
    transition: all .5s;
  }
}
.oper-button {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  span {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  div {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
  }
}
.hideOp {
  display: none !important;
}
