<div>
  <h2>背景和渐变</h2>
  <nc-tab [tabs]="tabItems" [type]="'line'" [(selectTab)] = "currentTab"  [id]="'tab_box_background'">
    <div class="background_demo" *ngIf="currentTab === 'background'">
      <div class="back_box" #backboxout style="background: #ffff99;">
        PWA，全称Progressive Web Apps，是一种接近原生用户体验的渐进增强的 Web 应用，利用现代浏览器特性从安全、性能和体验三个方面，
        优化我们的Web App
        PWA不是某一项技术,而是一系列Web技术与标准的集合与应用,由Google在2015年提出，旨在渐进增强，不是替代现有的移动App，
        而是让web应用有媲美原生应用的体验，更加对移动环境友好
      </div>
      <div class="text_shadow_oper">
        <div class="text-1">
          background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
        </div>
        <div>输入后点生成： </div>
        <div>
          <div>背景色: </div>
          <div>
            <span>颜色</span>
            <span><input class="shadowColor" type="color" [(ngModel)]="backBox.color" /></span>
          </div>
          <div>
            <span>clip绘色区域</span>
            <span>
              <nc-select [options]="clipOptions" [(value)]="backBox.clipz" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
          </div>
        </div>
        <div>
          <div>背景图片: </div>
          <div>
            <span>是否添加</span>
            <span>
              <nc-checkbox [(checked)]="backBox.useImg"></nc-checkbox>
            </span>
          </div>
          <div>
            <span>position位置</span>
            <span>
              <nc-select [options]="positionTypes" [(value)]="backBox.position.type" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
            <span class="label1">x</span>
            <nc-number-put *ngIf="backBox.position.type !== 'fangwei'" [type]="'middle'" [(value)]="backBox.position.x"></nc-number-put>
            <nc-select *ngIf="backBox.position.type === 'fangwei'" [options]="fanwei.x" [(value)]="backBox.position.xx" [width]="'120px'"></nc-select>
            <span class="label1">y</span>
            <nc-number-put *ngIf="backBox.position.type !== 'fangwei'" [type]="'middle'" [(value)]="backBox.position.y"></nc-number-put>
            <nc-select *ngIf="backBox.position.type === 'fangwei'" [options]="fanwei.y" [(value)]="backBox.position.yy" [width]="'120px'"></nc-select>
          </div>
          <div>
            <span>size大小</span>
            <span>
              <nc-select [options]="sizeOptions" [(value)]="backBox.size.type" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
            <span  *ngIf="backBox.size.type === 'length' || backBox.size.type === 'percentage'">
              <span class="label1">x</span>
              <nc-number-put [type]="'middle'" [(value)]="backBox.position.x"></nc-number-put>
              <span class="label1">y</span>
              <nc-number-put [type]="'middle'" [(value)]="backBox.position.y"></nc-number-put>
            </span>
          </div>
          <div>
            <span>图像重复</span>
            <span>
              <nc-select [options]="repeatOptions" [(value)]="backBox.repeat" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
          </div>
          <div>
            <span>origin定位区域</span>
            <span>
              <nc-select [options]="clipOptions" [(value)]="backBox.origin" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
          </div>
          <div>
            <span>随页面滚动</span>
            <span>
              <nc-select [options]="attchOptions" [(value)]="backBox.attach" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
          </div>
          <div>
            <span>混合模式</span>
            <span>
              <nc-select [options]="blendOptions" [(value)]="backBox.blend" [width]="'120px'" [height]="'30px'"></nc-select>
            </span>
          </div>
        </div>
        <div stype="color: #008000;">background: {{selectBoxBack}}</div>
        <div>
          <div>
            <nc-button (click)="makeBackgroundOut()">生成</nc-button>
          </div>
        </div>
      </div>
    </div>
    <div class="gradient_demo" *ngIf="currentTab === 'gradient'">
      渐变
    </div>
  </nc-tab>
</div>