<div class="uds-app" id="appid">
  <div class="uds-icon">
    <div class="uds-icon-item"></div>
    <div class="uds-icon-item"></div>
  </div>
  <span class="text">点我</span>
</div>
<div class="uds-app-container" id="appContain">
  <div class="uds-app-content app-content-show">
    <div class="uds-app-body">
      <div class="uds-icon">
        <div class="uds-icon-item"></div>
        <div class="uds-icon-item"></div>
      </div>
      <div class="app-body-title">
        轻轻一<span>掃</span>轻松搞定
      </div>
    </div>
    <div class="uds-app-foot">
      <span>c</span>
      <span>2014-2017 中兴通讯股份有限公司</span>
    </div>
  </div>

  <div class="uds-app-content">
    <div class="uds-app-head">
      <span>关于我们</span>
      <span class="close">退出</span>
    </div>
    <div class="uds-app-body">
      <div class="app-body-head">
        当前口令
      </div>
      <div class="app-body-mima">
        {{kouling}}
      </div>
      <div class="app-body-title">
        当前口令<span>{{time}}</span>秒后失效
      </div>
      <div class="app-body-oper">
        <span class="fa fa-rotate-right"></span>口令刷新
      </div>
    </div>
    <div class="uds-app-foot">
      <div class="app-foot-saoma">
        <div class="app-foot-sao1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>扫一扫</span>
        </div>
      </div>
    </div>
  </div>

  <div class="uds-app-content app-saomiao">
    <div class="uds-app-head">
      <span class="backTo">
        <span class="fa fa-angle-left"></span>
        返回
      </span>
      <span>扫描二维码</span>
    </div>
    <div class="uds-app-body">
      <div class="app-body-saoma">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
