.parrot-container {
  perspective: 1200px;
  .parrot {
    height:230px;
    width:220px;
    margin:50px 300px;
    position:relative;
    background: #00A651;
    background: linear-gradient(#00C25E, #00A651, #00A651);
    border-radius: 50px 150px 30px 15px;
    box-shadow: inset 0 0 20px #225D59;
    cursor:pointer;
    opacity: 0;
    transform: translateZ(-1200px);
    transition: all 1s linear;
    &.show {
      opacity: 1;
      transform: translateZ(0);
    }
    &:before {
      content:'';
      height:30px;
      width:30px;
      position: absolute;
      z-index:2;
      background: #222222;
      transform: translate(70px,50px);
      border-radius: 50%;
      box-shadow: 0px 0px 2px 5px #005500,10px 0 1px 14px #eeeeee,
        8px -4px 5px 17px #009453,-60px 145px 2px 6px #00A651,-30px 135px 2px 8px #00A651,
      3px 125px 2px 8px #00A651,35px 115px 2px 8px #00A651,70px 100px 2px 8px #00A651,
      100px 90px 2px 8px #00A651,110px 70px 2px 8px #00A651,-60px 165px 2px 10px #009453,
      -30px 155px 2px 10px #009453,3px 145px 2px 10px #009453,35px 135px 2px 10px #009453,
      70px 120px 2px 10px #009453,100px 110px 2px 10px #009453,120px 100px 2px 10px #009453,
      -62px 180px 2px 10px #008656,-30px 175px 2px 10px #008656,10px 170px 2px 10px #008656,
      55px 160px 2px 10px #008656,90px 145px 2px 10px #008656,130px 130px 2px 10px #008656,
      -60px 200px 3px 10px #007959,-20px 193px 3px 10px #007959,20px 185px 3px 10px #007959,
      60px 175px 3px 10px #007959,100px 163px 3px 10px #007959,135px 148px 3px 10px #007959;
    }
    &:after {
      content:'';
      height:170px;
      width:170px;
      position: absolute;
      background: linear-gradient(#FBB040, #FBE642);
      transform: translate(-120px,30px) rotate(-5deg);
      border-radius: 150px 50px 30px 10px;
      box-shadow: inset 5px 5px 20px #ffb366;
      //transition: 0.5s linear;
      transform-origin: 100% 0%;
      z-index:2;
    }
    .par-body {
      display: inline-block;
      height:240px;
      width:480px;
      background-color:blue;
      position:absolute;
      z-index: -1;
      top: 210px;
      left: -30px;
      background: linear-gradient(#00A651, #00A651, #00C25E);
      transform: rotate(30deg);
      border-top-left-radius: 200px 10px;
      border-top-right-radius: 250px 50px;
      border-bottom-right-radius: 360px 190px;
      border-bottom-left-radius: 120px 200px;
      box-shadow: -10px -10px 8px 2px #00994b inset;
    }
    .par-chibang {
      display:inline-block;
      background:linear-gradient(#ff5050, #ffd11a, #ffff4d);
      height:110px;
      width:340px;
      border-top-left-radius: 55px 50%;
      border-top-right-radius: 280px 50%;
      border-bottom-right-radius: 280px 50%;
      border-bottom-left-radius: 55px 50%;
      position:absolute;
      top:220px;
      left: 267px;
      transform:rotate(35deg);
      transform-origin: 0% 0%;
      //transition: transform 500ms linear;
    }
    &.pera-yundong {
      animation:parretAnima .8s infinite alternate;
      &:after {
        animation:parretZuibAnima .8s infinite alternate;
      }
      .par-chibang {
        animation:parretCibAnima .8s infinite alternate;
      }
    }
  }
}

@keyframes parretAnima
{
  0%   {transform: rotate(0)}
  100% {transform: rotate(-8deg);transform-origin: 110% 100%;}
}
@keyframes parretZuibAnima
{
  0%   {transform: translate(-120px,30px) rotate(-5deg);transform-origin: 100% 0%;}
  100% {transform: translate(-120px,30px) rotate(3deg) scale(1,0.96);transform-origin: 110% 0%;}
}
@keyframes parretCibAnima
{
  0%   {transform:rotate(35deg);}
  100% {transform:rotate(25deg);}
}
