<div class="computer" id="mycomputer">
  <div class="computer-head">
    <div class="computer-screen">
      <div class="login-on">
        <span class="login-logo logo-outing">
          <span class="apple-logo">
            <span class="logo"></span>
            <span class="logo"></span>
            <span class="logo-down"></span>
            <span class="logo-up"></span>
            <span class="logo-leaf"></span>
            <span class="logo-eat"></span>
          </span>
        </span>
        <span class="login-loading">
          <span></span>
        </span>
      </div>
      <div class="login-out"></div>
    </div>
    <div class="computer-opertion">
      <span>
        <span></span>
        <span></span>
      </span>
      <span id="power-oper">
        <span class="fa fa-power-off"></span>
        <span class="text">点我开机</span>
      </span>
    </div>
  </div>
  <div class="computer-body"></div>
  <div class="computer-foot"></div>
</div>
